* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: #f1f5f9;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/todo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 600px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .header .check-icon {
    font-size: 1.5rem;
    color: black;
    margin-right: 0.5rem;
  }
  
  .header h2 {
    color: black;
    font-size: 1.5rem;
  }
  .add-task {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  
  .add-task input {
    flex: 1;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .add-task select {
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .add-task button {
    background: black;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-task button:hover {
    background: orangered;
  }
  